.loader {
	width: 70px;
	height: 70px;
	border-radius: 50%;
	border: 2px solid transparent;
	border-color: orange transparent orange transparent;
	animation: loading 1s linear infinite;
}

@keyframes loading {
	to {
		transform: rotate(360deg);
	}
}